.ProductView {
  margin: auto;
  border: 1px solid var(--container-border-color);
  border-radius: var(--container-border-radius);

  background-color: var(--container-background-color);

  .product-views {
    .view-options {
      .view-option:hover {
        cursor: pointer;
      }
      .view-option[data-selected=true]{
        filter: opacity(50%);
      }
    }
  }

  .product-content {
    .product-description {
      p {
        text-justify: distribute;
        font-size: var(--p-medium-font-size);
        line-height: var(--p-line-height);
        color: var(--text-alternative-color);
      }
    }

    footer {
      .product-price {
        font-size: var(--p-medium-font-size);
        line-height: var(--p-line-height);
        span {
          font-size: var(--p-big-font-size);
          font-weight: var(--font-weight-7);
        }
      }
    }
  }
}

@media only screen and (min-width: 1086px) {
  .ProductView {
    max-width: 1086px;
    max-height: 99vh;
    position: relative;

    padding: 40px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .product-views {
      width: 560px;
      display: flex;
      flex-direction: row;

      .view-options {
        width: 80px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }

      .view-main {
        width: 320px;
        align-items: center;
        margin-left: 32px;

        .ActionButton {
          position: absolute;
      
          right: 23px;
          top: 7px;
        }
      }
    }

    .product-content {
      min-width: 320px;

      padding: 32px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .product-category,
      .product-description {
        margin: 16px 0;
      }

      .product-description {
        display: flex;
        flex-direction: row;
        align-items: center;

        p {
          text-justify: distribute;
          font-size: var(--p-medium-font-size);
          line-height: var(--p-line-height);
          color: var(--text-alternative-color);
        }
      }

      footer {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .product-price {
          font-size: var(--p-medium-font-size);
          line-height: var(--p-line-height);

          span {
            font-size: var(--p-big-font-size);
            font-weight: var(--font-weight-7);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1086px) {
  .ProductView {
    width: 100vw;
    height: 100vh;

    border-radius: 0;

    overflow: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    .view-main,
    .view-options,
    .product-description {
      margin-bottom: 16px;
    }
    
    .product-category {
      margin: 16px 0;
    }

    .product-views {
      width: 100%;

      display: flex;
      flex-direction: column-reverse;
      align-items: center;

      .view-main {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            object-fit: cover;
            object-position: center center;
          }

        .ActionButton {
          position: absolute;
      
          right: 33px;
          top: 10px;
        }
      }
  
      .view-options {
        width: 100%;
        max-width: 400px;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
        .view-option {
          max-width: 80px;
          width: 100%;
        }
        .view-option:hover{
          cursor: pointer;
        }
      }
    }
  
    .product-content {
      padding: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  
      .product-description {
        display: flex;
        flex-direction: row;
        align-items: center;
  
        p {
          text-justify: distribute;
          font-size: var(--p-medium-font-size);
          line-height: var(--p-line-height);
          color: var(--text-alternative-color);
        }
      }
  
      footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
  
        .product-price {
          font-size: var(--p-medium-font-size);
          line-height: var(--p-line-height);
  
          span {
            font-size: var(--p-big-font-size);
            font-weight: var(--font-weight-7);
          }
        }
      }
    }
  }
}