.ProductView {
  max-width: 1086px;
  min-height: 468px;

  position: relative;

  margin: 40px auto;
  padding: 40px;

  border: 1px solid var(--container-border-color);
  border-radius: var(--container-border-radius);

  background-color: var(--container-background-color);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .product-views {
    width: 560px;
    display: flex;
    flex-direction: row;

    .view-options {
      width: 80px;

      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .view-option:hover {
        cursor: pointer;
      }

      .view-option[data-selected=true]{
        filter: opacity(50%);
      }
    }

    .view-main {
      width: 320px;
      align-items: center;
      margin-left: 32px;

      .ActionButton {
        position: absolute;
    
        right: 23px;
        top: 7px;
      }
    }
  }

  .product-content {
    min-width: 320px;

    padding: 32px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .product-category,
    .product-description {
      margin: 16px 0;
    }

    .product-description {
      display: flex;
      flex-direction: row;
      align-items: center;

      p {
        text-justify: distribute;
        font-size: var(--p-medium-font-size);
        line-height: var(--p-line-height);
        color: var(--text-alternative-color);
      }
    }

    footer {
      width: 100%;
      height: 60px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .product-price {
        font-size: var(--p-medium-font-size);
        line-height: var(--p-line-height);

        span {
          font-size: var(--p-big-font-size);
          font-weight: var(--font-weight-7);
        }
      }
    }
  }
}

@media only screen and (max-width: 880px) {
  .ProductView {
    max-width: max-content;

    margin: 40px auto;
    padding: 12px 56px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: unset;
  
    .product-views {
      max-width: 560px;
      width: 100%;

      margin-bottom: 16px;

      display: flex;
      flex-direction: column-reverse;
      align-items: center;

      .view-main {
        position: relative;
        width: 100%;
        margin: 0;
        margin-bottom: 16px;
        align-items: center;

        .ActionButton {
          position: absolute;
      
          right: 13px;
          top: 10px;
        }
      }
  
      .view-options {
        width: 400px;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
        .view-option {
          width: 80px;
        }
        .view-option:hover{
          cursor: pointer;
        }
      }
    }
  
    .product-content {
      max-width: 559px;

      padding: 0;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
  
      .product-category,
      .product-description {
        margin: 16px 0;
      }
  
      .product-description {
        display: flex;
        flex-direction: row;
        align-items: center;
  
        p {
          text-justify: distribute;
          font-size: var(--p-medium-font-size);
          line-height: var(--p-line-height);
          color: var(--text-alternative-color);
        }
      }
  
      footer {
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
  
        .product-price {
          font-size: var(--p-medium-font-size);
          line-height: var(--p-line-height);
  
          span {
            font-size: var(--p-big-font-size);
            font-weight: var(--font-weight-7);
          }
        }
      }
    }
  }
}