:root {
  color: var(--text-primary-color);
  background-color: var(--primary-background-color);
  font-family: urbanist, sans-serif;

  /*varibles*/
  --primary-background-color: rgb(20, 20, 20);
  /*container*/
  --container-border-color: rgb(127, 118, 105);
  --container-background-color: rgb(26, 26, 26);
  --container-pading: 28px;
  --container-border-radius: 15px;
  --blur-background-color: var(--primary-background-color);

  /*button*/
  --button-background-color: rgb(52, 7, 167);
  --button-second-background-color: rgb(20, 20, 20);
  --button-color: rgb(232, 230, 227);
  --button-standar-border-radius: 8px;
  --button-max-border-radius: 9999px;

  /*texto*/
  --text-primary-color: rgba(255, 255, 255, 0.87);
  --text-alternative-color: rgb(168, 160, 149);

  --font-size-16: 16px;

  --font-weight-7: 700;
  --font-weight-6: 600;
  --font-weight-4: 400;

  --h1-font-size: 32px;
  --h1-line-height: 1.75rem;

  --h3-font-weight: 600;
  --h3-font-size: 1.25rem;
  --h3-line-height: 1.75rem;

  --h6-font-size: 1.125rem;
  --h6-line-height: 1.75rem;

  --p-small-font-size: .75rem;
  --p-medium-font-size: 20px;
  --p-big-font-size: 24px;
  --p-line-height: 28px;

  --number-font-size: 1.25rem;
  --number-line-height: 1.75rem;

  h1 {
    font-weight: var(--font-weight-7);
    font-size: var(--h1-font-size);
    line-height: var(--h1-line-height);
  }

  h3 {
    font-weight: var(--font-weight-6);
    font-size: var(--h3-font-size);
    line-height: var(--h3-line-height);
  }

  h6 {
    font-weight: var(--font-weight-4);
    font-size: var(--h6-font-size);
    line-height: var(--h6-line-height);
  }
}

* {
  padding: 0;
  margin: 0;
}